{% extends "base.html" %}

{% block main %}

<!-- Main -->
		<!-- One -->
			<section id="one">
				<header class="major">
					<h1>
						<strong>Statement</strong>
					</h1>
					<h2>

					</h2>
				</header>
				<p>
					Una de las características principales de su
					trabajo es la exploración a nivel material y de
					escala.
					Se puede observar que la oscilación
					de contextos y recursos son los nutrientes
					que alimentan su obra. La tensión entre la
					cultura dominante global como espacio de
					resistencia, ha sido su materia de estudio a
					nivel conceptual y en el propio accionar a
					lo largo de su carrera. En su arte performático busca la expresividad del cuerpo para
					emitir señales y comunicarlas y el contacto
					directo con el público para hacerle partícipe de dicha acción. Es un arte sensitivo,
					emocional que busca el apoyo de diversas
					disciplinas y técnicas artísticas para llegar
					al punto más alto de la expresión. Las múltiples formas de identidad tanto individual
					como colectiva son la columna vertebral de
					esta influencia sociológica del artista.
				</p>
				<ul class="actions">
					<li><a href="readmore.html" class="button">Learn More</a></li>
				</ul>
			</section>

		<!-- Two -->
			<section id="two">
				<h2>Recent Work</h2>
				<div class="row">
					<article class="col-6 col-12-xsmall work-item">
						<a href="static/images/fulls/obra1.jpeg" class="image fit thumb"><img src="static/images/portfolio/obra1.jpg" alt="imagen de la obra Ensayando el Presente " /></a>
						<h3>Estación en Tránsito - FIBA 2020</h3>
						<p>
							Universo surrealista guiado por el absurdo,
							persigue que el visitante en situación de
							tránsito emerja de sus comportamientos
							mecánicos diarios y sea absorbido por una
							fisura en el tiempo
						</p>
					</article>
					<article class="col-6 col-12-xsmall work-item">
						<a href="static/images/fulls/obra2.jpg" class="image fit thumb"><img src="static/images/portfolio/obra2.jpg" alt="" /></a>
						<h3>Todo Esto Infinitas Veces</h3>
						<p>
							Todo esto infinitas veces un agujero o quizás
							la mirilla hacia el infinito; una plataforma,
							un mapa, una guía sobre la cual se puede
							probar, accionar, caer, fracasar, re intentar;
							una base de contención, un claro límite, un
							área de atención, un punto de comienzo y
							fin; un espacio para decidir, para pisar, para
							avanzar, para interactuar; un área que per-
							mite clarificar la diferencia entre quien está
							en ella y quién no; la posibilidad de reflejarse,
							de observar el acontecimiento; la réplica
							inmediata. Una fuga.
						</a>
					</article>
					<article class="col-6 col-12-xsmall work-item">
						<a href="static/images/fulls/obra5.jpg" class="image fit thumb"><img src="static/images/portfolio/obra5.jpg" alt="" /></a>
						<h3>Dentro</h3>
						<p>La obra es una apariencia vital, cuya estructura inflable plantea nuevas experiencias
						del espacio, el cuerpo, la convivencia y sus
						límites en una puesta multidisciplinar.</p>
					</article>
					<article class="col-6 col-12-xsmall work-item">
						<a href="static/images/fulls/obra3.jpg" class="image fit thumb"><img src="static/images/portfolio/obra3.jpg" alt="" /></a>
						<h3>Ensayo de un presente Indolente - España 2018</h3>
						<p>En esta experiencia investigativa, damos
							cuenta de las múltiples posibilidades para
							habitar la estructura</p>
					</article>
				</div>
				<ul class="actions">
					<li>
						<a href="../static/files/portfolio.pdf" class="button" download>Full Portfolio
						</a>
					</li>
				</ul>
			</section>

		<!-- Three -->
			<section id="three">
				<h2>Get In Touch</h2>
				<div class="row">
					<div class="col-8 col-12-small">
						<form id="form" method="post" action="">
							<div class="row gtr-uniform gtr-50">
								<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
								<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
								<div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
							</div>
							<!--
							<div style="margin-top: 2em">
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</div>
						    -->
							<button type="button" name="button" class="button-submit">Submit</button>
						</form>
						<div class="submit-box-response">
							<h4 class="message-success-color">Thanks for contact us</h4>
							<h4 class="message-fail-color">We couldn't send the message, please try later.</h4>
						</div>
					</div>
					<div class="col-4 col-12-small">
						<ul class="labeled-icons">
							<li>
								<h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
								melisazulberti@gmail.com
							</li>
						</ul>
					</div>
			</section>

{% endblock %}
