{% extends 'base.html' %}

{% block text %}

	<p>
	    Participó también en la Muestra Miradas
		de Bs. As., “Materia Prima”, en Museo MAR,
		muestra colectiva en el Museo MAR.
		Expuso “Ensayo de un presente indolente”
		en La Juan Gallery, Museo Zapadores, Ciu-
		dad del Arte, Nuevo Proyecto de la Neomu-
		dèjar. Medialab - Prado (Madrid) y Mutuo,
		Galería de Arte - Barcelona.
		Melisa Zulberti (Tandil, 1989) es bailarina
		de danza contemporánea, artista visual,
		creadora de instalaciones performáticas
		que busca en sus proyectos interconexio-
		nes entre varios lenguajes.
		Estudió en UNA (Universidad Nacional de
		las Artes) en Buenos Aires y en 2017 fue
		convocada en 11o FIBA (Festival Internacio-
		nal de Bs. As.) con “Todo Dentro” una obra
		montada en el Hall del San Martín.
		Realizó una muestra individual en MUMBAT
		en la ciudad de Tandil con la obra “Dos ho-
		ras en tránsito” y “Todo dentro”.
		En 2018 estrenó “Ensayo de un presente in-
		dolente”, instalación performática, en Río
		de Janeiro, Brasil.
		Le otogaron una Beca Movilidad del Fondo
		Argentino de Desarrollo Cultural y Creati-
		vo, para realizar una residencia de creación
		junto a la Secretaría de Cultura de Río de
		Janeiro / FUNARJ /ONG People’s Palace
		Projects, Brasil para participar de la Aper-
		tura 33° Bienal de São Paulo.
		Fue seleccionada con su obra “Diálogo To-
		pológico” para el cierre del Gallery Days
		(Bs. As., Argentina).
		Fue parte de la Feria de Arte MAPA 2019
		(Buenos Aires, Argentina) y fue escogida
		por la Fundación Tres Pinos para realizar
		el Programa de Artistas Marco Arte Foco
		2019-2020 (Buenos Aires, Argentina).
		Realizó dentro del “Festival Paraíso”- espa-
		cio dedicado a revolucionar la escena local
		madrileña, con la participación de figuras
		internacionales- la instalación “Dentro” que
		tuvo lugar en el campus de la Universidad
		Complutense (Madrid).
		En octubre 2019 presentó “Dentro” en el
		Festival Emergente de la Ciudad de Bue-
		nos Aires, y fue seleccionada con esta mis-
		ma obra participar del Premio Estímulo a
		la Performance de la Colección Brun Cat-
		taneo, resultando ganadora del primer pre-
		mio a la performance, además estrenó re-
		cientemente un Work in progress de “Todo
		esto infinitas veces” que tendrá una instan-
		cia de investigación más extensa en el mes
		de Noviembre ya que la artista comienza
		con la residencia Marco Arte Foco dentro
		del Programa de Artistas 2019, donde lle-
		vará a cabo durante 6 meses la creación y
		desarrollo de sus nuevos trabajos para ser
		expuestos en Abril del 2020.
		Fue convocada para el cierre del FIBA2020
		(Festival Internacional de Buenos Aires) ex-
		poniendo dos piezas performáticas titula-
		das “Estación en Tránsito”.
		Actualmente acaba de estrenar DENTRO
		versión obra en el Teatro Defensores de
		Bravard.
		Statement
		Una de las características principales de su
		trabajo es la exploración a nivel material y de
		escala. Se puede observar que la oscilación
		de contextos y recursos son los nutrientes
		que alimentan su obra. La tensión entre la
		cultura dominante global como espacio de
		resistencia, ha sido su materia de estudio a
		nivel conceptual y en el propio accionar a
		lo largo de su carrera. En su arte performá-
		tico busca la expresividad del cuerpo para
		emitir señales y comunicarlas y el contacto
		directo con el público para hacerle partí-
		cipe de dicha acción. Es un arte sensitivo,
		emocional que busca el apoyo de diversas
		disciplinas y técnicas artísticas para llegar
		al punto más alto de la expresión. Las múl-
		tiples formas de identidad tanto individual
		como colectiva son la columna vertebral de
		esta influencia sociológica del artista.

	</p>

	<ul class="actions">
		<li><a href="main.html" class="button">Go back</a></li>
	</ul>

{% endblock %}
